.array-container {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 91%;
    bottom: 100px;
    border: 1px solid black;
}

.array-bar {
    position: -webkit-sticky;
    width: 2px;
    background-color: plum;
    display: inline-block;
    margin: 0px 1px;
}

